@font-face {
    font-family: 'Pixel Operator';
    src: url('PixelOperator.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pixel Operator', monospace;
}

body {
    background-image: url('assets/pink.jng');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px);
    z-index: -1;
}

.wrapper {
    width: 100%;
    max-width: 500px;
    z-index: 1;
}

.Header1 {
    text-align: center;
    color: white;
    margin: 5px 0;
    font-size: 40px;
    position: relative;
    padding-bottom: 15px;
    border-bottom: 2px solid white;
}

.interaction-box {
    background-color: #301934;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    color: white;
    box-shadow: 0 15px 35px #333;
}

.conversion-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#operation, .number-input, #convert {
    width: 100%;
    padding: 10px;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 20px;
    transition: all 0.3s ease;
}

#operation:hover, .number-input:hover, #convert:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #333;
    transform: scale(1.05);
}

#operation:active, .number-input:active, #convert:active {
    transform: scale(0.95);
}

#operation option {
    background-color: black;
    color: white;
}

.conversion-separator {
    text-align: center;
    color: white;
    font-size: 20px;
}

.h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: white;
}

.label {
    color: white; 
    font-size: 20px; 
}

.back_button {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(114, 66, 245, 0.2);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    transition: all 0.3s ease;
    font-size: 15px;
}

.back_button:hover {
    background-color: rgba(114, 66, 245, 0.2);
    transform: scale(1.05);
}

.back_button:active {
    transform: scale(0.95);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
