@font-face {
    font-family: 'Pixel Operator';
    src: url('PixelOperator.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pixel Operator', monospace;
}

body {
    background-image: url('assets/pink.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px);
    z-index: -1;
}

.wrapper {
    width: 100%;
    max-width: 500px;
    z-index: 1;
}

.Header1 {
    text-align: center;
    color: white;
    margin: 5px 0;
    font-size: 2.2rem;
    position: relative;
    padding-bottom: 15px;
    border-bottom: 2px solid white;
}

.interaction-box {
    background-color: #000000;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    color: white;
    box-shadow: 0 15px 35px #333;
}

.calculation-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#taxableIncome {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 30px;
    transition: all 0.3s ease;
}

#taxableIncome:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

#calculateTax {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#calculateTax:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

#calculateTax:active {
    transform: scale(0.95);
}

label[for="taxableIncome"] {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color: white;
}

.home_button {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    transition: all 0.3s ease;
    font-size: 30px;
}

.home_button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.home_button:active {
    transform: scale(0.95);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

.tax-result {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 15px;
}
