body {
    background-image: url('assets/pink.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px);
    z-index: -1;
}

.wrapper {
    width: 100%;
    max-width: 500px;
    z-index: 1;
}

.Header1 {
    text-align: center; /* Center the text */
    color: black;
    margin: 5px 0; /* Set top and bottom margin to 10px */
    font-size: 2.2rem;
    position: relative;
    padding-bottom: 15px;
    border-bottom: 2px solid white; /* Add a white line under the header */
}

.login-box {
    background-color: black;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    color: white;
    box-shadow: 0 15px 35px #333;
}

.heading h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.continue-box {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0px;
    transition: all 0.3s ease;
}

.continue-box a {
    display: block;
    padding: 8px;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.continue-box:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.continue-box:active {
    transform: scale(0.95);
}

footer {
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;

}
